.hero-section{
  background:url(thumbnail-home.jpg);
  background-size: cover;  
  position: relative;
  width: 100%;  
  
}
.hero-section::before{
  background-color: rgba(0,0,0,0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}
.hero-section .container{
  height: 100vh;
  z-index: 1;
  position: relative;
}
.section-1{
  font-size: 25px;
  
}
.section-2{
  font-size: 40px;
}
.section-3{
font-size: 30px;
}